$main-font-color:#555;
$main-font-stack:Helvetica, Arial, sans-serif;
$default:#51ddfc;
$success:#63cc82;
$error:#e4757a;
$warning:#fd7856;
$info:#927bc1;
$brk-point-lg:769px;
$grid-color-12:#80e8d1;
$grid-color-8:#fd9f85;
$grid-color-7:#ec9fa3;
$grid-color-6:#3fabca;
$grid-color-5:#88d9a0;
$grid-color-4:#7ee6fd;
$grid-color-3:#deb2ee;
