.form{
    margin-bottom:3em;
}
.form__label--hidden{
    display:none;
}
.form__input{
    width:100%;
    padding:.5em 0;
    margin:1em 0;
    border-top:none;
    border-right:none;
    border-bottom:4px solid #58e1c1;
    border-left:none;
}